@import './var.scss';

@mixin bgimg($path) {
  background-image: url('#{$icons}/#{$path}');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
@mixin full {
  width: 100%;
  height: 100%;
}
@mixin center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@mixin clickable {
  transform: scale(1);
  &:active {
    transform: scale(1.02);
  }
}
@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@mixin flex-row {
  display: flex !important;
  flex-direction: row;
}
@mixin flex-col {
  display: flex !important;
  flex-direction: column;
}
@mixin flex1 {
  flex: 1;
  flex-basis: 0;
}
@mixin clearfix {
  &:after {
    display: table;
    content: '';
    clear: both;
  }
}
@mixin fl {
  float: left;
}
@mixin fr {
  float: right;
}
