@import '@styles/var.scss';
@import '@styles/mixin.scss';

.container {
  .content {
    width: 688px;
    margin: 0 auto;
  }
  .at-tabs__header {
    background-color: #FFFCF2;
  }
  .comp-list {
    width: 100%;
    padding: 40px 0;
    .comp-item {
      width: 100%;
      height: 180px;
      background-color: #fff;
      box-shadow: -2px 1px 16px 0px rgba(0, 0, 0, 0.1);
      border-radius: 30px;
      overflow: hidden;
      display: flex;
      align-items: center;
      padding-right: 24px;
      position: relative;
      margin-bottom: 44px;
      .logo {
        width: 180px;
        height: 180px;
        margin-right: 20px;
        overflow: hidden;
        flex-shrink: 0;
        position: relative;
        Image {
          @include full;
        }
      }
      .info {
        .name {
          width: 320px;
          @include ellipsis;
          font-weight: bold;
          font-size: 30px;
          margin-bottom: 16px;
        }
        .address {
          font-size: 24px;
          margin-bottom: 12px;
        }
        .industry {
          font-size: 24px;
          color: $font4;
        }
      }
      .comp-vote {
        width: 150px;
        height: 100%;
        display: flex;
        @include center;
      }
      .vote-num {
        font-size: 48px;
        font-weight: bold;
      }
      .vote-btn {
        padding: 0 24px;
        margin-top: 24px;
        height: 44px;
        line-height: 44px;
        text-align: center;
        background-color: $theme;
        color: #fff;
        font-size: 24px;
        border-radius: 40px;
        @include clickable;
      }
    }
  }
}