@import '@styles/var.scss';
@import '@styles/mixin.scss';

page {
  width: 100vw;
  min-height: 100vh;
  background-color: #fff;
}
.container {
  background-color: #fff;
  .content {
    padding: 0 30px;
  }
  .field {
    width: 100%;
    height: 100px;
    line-height: 100px;
    display: flex;
    border-bottom: 1PX solid #e8e8e8;
  }
  .field-name {
    width: 240px;
  }
  .field-value {
    flex: 1;
    &.empty {
      color: #999;
    }
    Input {
      height: 100%;
    }
  }
  .form-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
  }
  .at-button {
    width: 60px;
  }
}